:root {
  --background-color-dark: #121212;
  --background-color-light: #9394a5;
  --hover-color-dark: rgba(83, 74, 130, 0.95);
  /* Define the color for the hover effect */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
  /* Position relative for absolute positioning of pseudo-elements */
}

a:hover {
  color: var(--hover-color-dark);
  /* Change the text color on hover */
}

a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  /* Position the pseudo-element at the center */
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  /* Adjust the height of the rounded bar */
  background-color: var(--hover-color-dark);
  transition: width 0.3s;
  /* Add a transition for a smooth effect */
}

.nav-button {
  height: 40px;
  margin-bottom: 15px;
  /* Adjust this value to control the spacing between buttons */
  overflow: hidden;
  /* Hide overflow for pseudo-element positioning */
}

.nav-button:hover a::before {
  width: 100%;
  /* Expand the rounded bar on hover */
}

.nav-button:hover a {
  color: var(--hover-color);
  /* Change the text color on hover */
}

#nav-bar{
  position: fixed;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-dark);
}

#nav-bar.closed{
  transform: translateX(-200px);
}

section{
  margin-left: 200px;
}

.main-info{
  position: relative;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-info::before{
  content: "";
  background-image: url(Assets/dev.avif);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.main-info h1{
  font-size: 6rem;
}
.main-info h3{
  font-size: 3rem;
}

.main-info h1,h3{
  position: relative;
  font-weight: 700;
  background-image: linear-gradient(43deg, #415BD0 0%, #C850C0 46%, #ffcc70);
  -webkit-background-clip: text;
  color: transparent;
}


